.chips {
  margin: 20px 0;
  background: var(--darkGray);
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
}

.chips + .chips {
  margin-left: 20px;
}

.chips .chips__container {
  display: flex;
  align-items: center;
}

.chips h2 {
  color: var(--white);
  font-size: 0.9rem;
  font-weight: bold;
}

.chips span {
  color: var(--white);
  font-size: 0.9rem;
  font-weight: bold;
}

.chips button {
  border: none;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 1000px;
  cursor: pointer;
}
