:root {
  --background: #212025;
  --white: #F5F5F7;
  --gray: #333237;
  --lightGray: #8F8F91;
  --darkGray: #3E3E41;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
}

body, button, input, textarea {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
