.container {
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
  }
}

.filter {
  flex: auto;
}

.filter + .filter {
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .filter + .filter {
    margin-top: 0;
    margin-left: 20px;
  }
}

.filter label {
  height: 50px;
  background: var(--gray);
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: text;
}

.filter label > div {
  width: 100% !important;
  height: 100% !important;
}

.filter input {
  border: none;
  background: none;
  margin-left: 10px;
  color: var(--white);
  font-size: 1rem;
}

.container button {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: var(--white);
  height: 50px;
  width: 100%;
  color: var(--background);
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .container button {
    margin-left: 20px;
    margin-top: 0;
    padding: 0 40px;
    width: auto;
  }
}
